@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

a{
  text-decoration: none; 
  color: inherit;
}

footer{
  padding-top:20px;
  padding-bottom:20px;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow:  0 0 5px #999;
}

body {
  font-family:poppins;
  font-size:14px;
  margin:0;
}

.inf{
  background: url("../img/credit-pexel_com.jpeg") no-repeat;
  margin-top:-50px;
  background-size: 100% 100%;
  background-attachment: fixed;
 
}

.exp{
  background: url("../img/credit-pexels_com1.jpeg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
 color:white;
}

.ref{
  background: url("../img/credit-pexels_com2.jpeg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
 color:white;
}

.profile-img{

  width:10%;
  border-radius:100%;
}

.text1{
  margin-top: 60px;
  color:white;
}

#navshadow {
    -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow:  0 0 5px #999;
}

#nav {
  height: 13%;

  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease 1s;
}

#logo {
  transition: all ease .5s;
}

#nav.shrink {
  height: 13%;
  transition: all ease .5s; 
  background: white; 
  color:black;
}

#nav.shrink #logo {
  transition: all ease .5s;
}